
#personally vscode settings
.vscode/

# binary files, generated with this project
build/

# clangd automatic generated dir
.cache

# tmp files
tmp/

# tree command output dir
project_struct/

# Documentation
Doxyfile

# log out dir
log/
